/* Box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

.result-container {
  border-radius: 100px;
}

/* Font Style below */
h1 {
  margin: 0px;
  font-size: 58px;
}

.score-container h4 {
  margin: 0;
}

span {
  font-size: 20px;
  font-weight: bolder;
}

.left-inner-container h2,
.score-container h4 {
  color:rgba(242, 240, 255, 0.779);
}

.text-result-container h2 {
  color: white;
}

.text-result-container h3 {
  color: rgba(242, 240, 255, 0.678)
}

.score-container h1 {
  color: white;
}

/* Structure  & Misc Style below */
.body {
  width: 100vw;
  
}

.content-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container,
.right-container {
  height: 500px;
  width: 20vw;
}

.left-container {
  
  border-radius: 14px;
}

.right-container {
  box-shadow: 10px 10px 25px rgb(242, 244, 255);
  border-radius: 0px 14px 14px 0px;
}

.left-container {
  background-image: linear-gradient(rgb(95, 59, 251), rgb(52, 40, 225));
  
}

.left-inner-container {
  height: 500px;
}

.left-inner-container,
.right-inner-container {
  padding: 40px;
}

.result-container,
.text-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 200px;
  height: 200px;
  background-color: blue;
  border-radius: 50%;

  background-image: linear-gradient( rgba(60, 38, 206) 50%, rgb(73, 47, 242) );
}

/* Right container style start */
.rate-parent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right-container {
  background-color: rgb(255, 255, 255);
}

.right-inner-container  {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.rate-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  padding: 15px;
}
.rate-left-txt {
  display: flex;
  gap: 8px;
}
/* Characteristic Rating colors */
.one {
  background-color: rgb(255, 245, 244);
}

.one-char {
  color: rgb(222, 103, 103);
}

.two {
  background-color: rgb(255, 250, 241);
}

.two-char { 
  color: rgb(234, 170, 32)
}

.three {
  background-color: rgb(241, 250, 249);
}

.three-char {
  color:rgb(64, 170, 141)
}

.four {
  background-color: rgb(241, 241, 252);
}

.four-char {
 color: rgb(62, 69, 176)
}

.btn-container {
  display: flex;
  justify-content: center;
  
}

.fraction-text span:nth-child(2) {
 color:rgb(152, 148, 159);
}

button {
  color: rgb(233,236,255);
  background-color: rgb(66,47,237);
  flex-grow: 1;
  border: none;
  border-radius: 20px;
  padding: 17px 25px;
}